{% extends "shop/base.html" %}
{% block title %}Checkout{% endblock %}

{% block content %}
{% block navbar_cart %}
{% endblock %}


<div class="row mb-4">
    <div class="col-md-">
        <h4 class="mb-3 text-primary">Your Cart</h4>
        <ul id="item_list" class="list-group">
        </ul>
    </div>
</div>

<hr class="my-4">

<hr class="my-4">

<h4 class="mb-3">Billing Address</h4>

<div class="row">
    <div class="col-md-12">
        <form class="needs-validation" novalidate="" method="post">
            {% csrf_token %}
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">First name</label>
                        <input name="firstName" type="text" class="form-control" id="firstName" placeholder="John" value="" required="">
                        <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>

                <div class="col-sm-6">
                    <label for="lastName" class="form-label">Last name</label>
                    <input name="lastName" type="text" class="form-control" id="lastName" placeholder="Doe" value="" required="">
                    <div class="invalid-feedback">
                    Valid last name is required.
                    </div>
                </div>

                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input id="email" name="email" type="email" class="form-control" placeholder="you@example.com" required="">
                    <div class="invalid-feedback">
                    Please enter a valid email address for shipping updates.
                    </div>
                </div>

                <div class="col-12">
                    <label for="address" class="form-label">Address</label>
                    <input id="address" name="address" type="text" class="form-control" placeholder="1234 Main St." required="">
                    <div class="invalid-feedback">
                    Please enter your shipping address.
                    </div>
                </div>

                <div class="col-md-4">
                    <label for="city" class="form-label">City</label>
                    <input type="text" name="city" id="city" class="form-control" placeholder="" required="">
                    <div class="invalid-feedback">
                    Please provide a valid state.
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="zip" class="form-label">Zip</label>
                    <input type="text" class="form-control" id="zip" name="zip" placeholder="" required="">
                    <div class="invalid-feedback">
                    Zip code required.
                    </div>
                </div>
            </div>

            <hr class="my-4">

            <hr class="my-4">

            <h4 class="mb-3">Payment</h4>

            <div class="my-3">
                <div class="form-check">
                    <input id="credit" name="paymentMethod" type="radio" class="form-check-input" checked="" required="">
                    <label class="form-check-label" for="credit">Credit card</label>
                </div>
                <div class="form-check">
                    <input id="debit" name="paymentMethod" type="radio" class="form-check-input" required="">
                    <label class="form-check-label" for="debit">Debit card</label>
                </div>

                <div class="row gy-3">
                    <div class="col-md-6">
                        <label for="cc-name" class="form-label">Name on card</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" required="">
                        <small class="text-muted">Full name as displayed on card</small>
                    <div class="invalid-feedback">
                    Name on card is required
                    </div>
                </div>

                <div class="col-md-6">
                    <label for="cc-number" class="form-label">Credit card number</label>
                    <input type="text" class="form-control" id="cc-number" placeholder="" required="">
                    <div class="invalid-feedback">
                    Credit card number is required
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="cc-expiration" class="form-label">Expiration</label>
                    <input type="text" class="form-control" id="cc-expiration" placeholder="" required="">
                    <div class="invalid-feedback">
                    Expiration date required
                    </div>
                </div>

                <div class="col-md-3">
                    <label for="cc-cvv" class="form-label">CVV</label>
                    <input type="text" class="form-control" id="cc-cvv" placeholder="" required="">
                    <div class="invalid-feedback">
                    Security code required
                    </div>
                </div>
            </div>

            <hr class="my-4">

            <button class="w-100 btn btn-primary btn-lg" type="submit">Please Order</button>
        </form> 
    </div>
</div>

{% endblock %}

{% block js_script %}
<script type="text/javascript">
    if(localStorage.getItem('cart') == null){
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));    
    }

    let itemIndex = 1;

    for(item in cart){
        let name = cart[item]['name'];
        let price = cart[item]['price'];
        let qty = cart[item]['qty'];

        itemString = `<li class="list-group-item d-flex justify-content-between align-items-center">${itemIndex}. ${name} - ${qty} - $${price}</li>`;
        $('#item_list').append(itemString);
        itemIndex += 1;

    }
</script>
{% endblock  %}